*.log
*.swp
*.bak
*.tmp

.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-*

public_html/kesh/*
!public_html/kesh/.gitkeep
!public_html/kesh/.htaccess

public_html/zaxira_nusxalari/*
!public_html/zaxira_nusxalari/.htaccess

public_html/uploads/avatars/*
!public_html/uploads/avatars/.gitkeep

public_html/uploads/savollar/*
!public_html/uploads/savollar/.gitkeep

.env
.env.local
public_html/config/config.local.php
public_html/config/installed.lock
public_html/config/secrets.php
